<% if resource.errors.any? %>
  <div id="error_explanation " class="mb-4 field mt-4 px-12 w-4/5 p-2 bg-red-500 h-20 rounded shadow-lg text-white mx-auto">
    <h2 class="text-sm">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul class="list-disc">
      <% resource.errors.full_messages.each do |message| %>
        <li class="ml-6 text-sm"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>