<div class="container w-3/5 bg-gray-400 mx-auto pt-4 h-screen space-y-4 px-3">
  <div class="container w-full space-y-2">
    <h1 class="text-5xl font-bold">This is the New Task Page</h1>
    <p class="text-xl">Create a new Task.</p>
  </div>

<%= render "tasks/form" %>

