<div class="container w-3/5 bg-gray-200 mx-auto h-screen space-y-4">

  <div class="container w-full border-b-2 border-gray-300 px-10 py-4">
    <h1 class="text-3xl font-bold">CATEGORIES</h1>
  </div>

  <div class="container w-full border-b-2 border-gray-300 px-10 pb-4">
    <p class="text-xl">Create a new task by clicking an existing Category, or create a new one.</p>
  </div>

  <div class="container w-full px-10 space-y-4">

    <button class="bg-blue-500 px-4 py-2 font-semibold text-white rounded hover:bg-blue-600 text-xl">
      <%= link_to "New Category" , new_category_path %>
    </button>

    <div class="container w-full grid grid-cols-3 gap-x-4 gap-y-6">
      <% @categories.each do |category| %>
      <div class="relative bg-gray-200 border-solid border-2 border-black rounded-xl h-36">
        <div class="container w-full py-2 px-3">
          <h3 class="text-2xl font-semibold">
            <%= link_to category.name, category_tasks_path(category) %>
          </h3>
          <p>
            <%= category.description %>
          </p>
          <div class="absolute bottom-2 right-3 w-full">
            <p class="text-right mt-4"> Pending tasks:
              <%= category.tasks.count %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    
  </div>

  

  

</div>