<div class="container w-3/5 bg-gray-200 mx-auto h-screen space-y-4">

  <div class="container w-full border-b-2 border-gray-300 px-10 py-4">
    <h1 class="text-3xl font-bold">NEW CATEGORY</h1>
  </div>

  <div class="container w-full border-b-2 border-gray-300 px-10 pb-4">
    <p class="text-xl">Create a new Category.</p>
  </div>

  <div class="container w-full px-10 pb-4">
    <%= render "form" , category: @category %> 
  </div>


 

</div>

